<mat-toolbar class="header">
    <div>
        <button mat-button class="link"><a routerLink="/home" routerLinkActive="active">Home</a>
        </button>

        <button mat-button class="link">
            <a routerLink="/trivia" routerLinkActive="active">Mad Trivia</a>
        </button>

        <button mat-button class="link">
            <a routerLink="/rules" routerLinkActive="active">Rules</a>
        </button>
    </div>
    <img src="../../assets/images/logo.png" alt="Logo Image" class="logo">
</mat-toolbar>
<router-outlet></router-outlet>