<div class="rules-container">

<h2><p>How to play the game</p></h2>
    <h3>1.Click on Mad Trivia</h3>
    <h3>2. Choose Number of questions ( up to 25)</h3>
    <h3></h3> 3. Choose Category (Any or just one from over 20 available categories)
    <h3></h3>4. Choose Dificulty (Easy, Medium or Hard)
    <h3></h3>5. Click  "Generate Game" button
    <h3></h3>7. Answer each one of the questions with True or False as fast as possible.
    <h3></h3>8. When all questions are answered and hit Submit, it shows the game over screen with total score and elapsed time
    <p></p>
<h2><p>Rules of the game</p></h2>
<h3></h3> Each difficulty has a different number of points per question: 1000 points/question Easy Difficulty, 2000points/question Medium Difficulty, 3000points/question Hard Difficulty.

<h3></h3> Only one possible correct answer per question.

<h3></h3> When you generate a new game a timer is elapsed, the faster you answer the question, the better the leaderboard score.

<h3></h3> Have fun!

<p>
    This game generates its questions from Open Trivia Database!
</p>

<a class="open-trivia" href="https://opentdb.com/">OpenTriviaDatabase</a>
</div>


