<mat-toolbar class="footer">
    <div class="copy-rights">
        <p property="schema:copyrightYear" property="schema:Organization"> Copyright © 2021</p>
        <div class="university">
            <a href="http://www.feaa.uaic.ro/"> Master of Software Development and Business InfFormation Systems,
                Faculty of
                Economics and Business Administration </a>
            <p>"Alexandru Ioan Cuza" University Iasi</p>

        </div>
        <a href="https://github.com/RalucaHodan/WebSystemsDev" property="schema:licence" typeof="CreativeWork">
            Github</a>
    </div>
</mat-toolbar>